In [5]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
import yfinance as yf

In [6]:
#GRAB SP500 TOP 25 CLOSING PRICES (01/01/1990 - 04/21/2022) 

data_top_25_sp500 = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "AAPL MSFT AMZN TSLA GOOGL GOOG NVDA BRK-B FB UNH JNJ JPM V PG XOM HD CVX MA BAC ABBV PFE AVGO COST DIS KO",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "10y",
)

#display(data_top_25_sp500['Adj Close'])
data_top_25_sp500.dropna(inplace=True)

data_top_25_sp500 = data_top_25_sp500['Close']

[*********************100%***********************]  25 of 25 completed

In [7]:


display(data_top_25_sp500)


data_top_25_sp500.to_csv(Path("C:\code/FinTechProject1/data_top_25_sp500.csv", header=True, index=True))

,AAPL,ABBV,AMZN,AVGO,BAC,BRK-B,COST,CVX,DIS,FB,...,KO,MA,MSFT,NVDA,PFE,PG,TSLA,UNH,V,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,19.608213,35.119999,257.309998,32.540001,12.030000,93.199997,101.449997,110.389999,51.099998,28.000000,...,37.599998,51.027000,27.620001,3.180000,24.582542,69.389999,7.072000,54.540001,38.845001,88.709999
2013-01-03,19.360714,34.830002,258.480011,32.709999,11.960000,93.620003,102.489998,109.919998,51.209999,27.770000,...,37.599998,51.099998,27.250000,3.182500,24.525618,68.949997,6.954000,51.990002,38.875000,88.550003
2013-01-04,18.821428,34.389999,259.149994,32.500000,12.110000,93.849998,102.160004,110.500000,52.189999,28.760000,...,37.660000,51.098000,26.740000,3.287500,24.629980,69.089996,6.880000,52.090000,39.192501,88.959999
2013-01-07,18.710714,34.459999,268.459991,32.320000,12.090000,93.449997,101.370003,109.750000,50.970001,29.420000,...,37.299999,51.952999,26.690001,3.192500,24.648956,68.620003,6.868000,52.090000,39.472500,87.930000
2013-01-08,18.761070,33.709999,266.380005,32.099998,11.980000,93.809998,101.180000,109.260002,50.759998,29.059999,...,37.040001,51.782001,26.549999,3.122500,24.686907,68.510002,6.736000,51.400002,39.840000,88.480003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-14,165.289993,162.309998,3034.129883,573.849976,37.570000,344.329987,590.390015,171.589996,130.470001,210.179993,...,65.019997,357.820007,279.829987,212.580002,53.119999,158.570007,985.000000,534.820007,212.789993,87.830002
2022-04-18,165.070007,159.360001,3055.699951,586.500000,38.849998,346.649994,582.119995,173.889999,127.769997,210.770004,...,64.440002,356.799988,280.519989,217.830002,51.840000,157.059998,1004.289978,534.080017,213.169998,88.550003
2022-04-19,167.399994,156.350006,3162.310059,597.619995,39.570000,348.500000,594.299988,171.830002,131.899994,217.309998,...,65.070000,363.869995,285.299988,221.979996,50.180000,159.410004,1028.150024,537.700012,215.699997,87.760002
2022-04-20,167.229996,156.699997,3079.959961,597.719971,39.660000,348.820007,603.530029,172.529999,124.570000,200.419998,...,65.959999,365.290009,286.359985,214.820007,49.750000,163.649994,977.200012,546.010010,217.789993,87.959999
2022-04-21,166.419998,158.520004,2965.919922,592.729980,38.910000,343.600006,591.739990,164.580002,121.660004,188.070007,...,66.209999,364.440002,280.809998,201.830002,49.110001,162.610001,1008.780029,537.440002,216.449997,87.029999

In [8]:
data_top_25_sp500

,AAPL,ABBV,AMZN,AVGO,BAC,BRK-B,COST,CVX,DIS,FB,...,KO,MA,MSFT,NVDA,PFE,PG,TSLA,UNH,V,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,19.608213,35.119999,257.309998,32.540001,12.030000,93.199997,101.449997,110.389999,51.099998,28.000000,...,37.599998,51.027000,27.620001,3.180000,24.582542,69.389999,7.072000,54.540001,38.845001,88.709999
2013-01-03,19.360714,34.830002,258.480011,32.709999,11.960000,93.620003,102.489998,109.919998,51.209999,27.770000,...,37.599998,51.099998,27.250000,3.182500,24.525618,68.949997,6.954000,51.990002,38.875000,88.550003
2013-01-04,18.821428,34.389999,259.149994,32.500000,12.110000,93.849998,102.160004,110.500000,52.189999,28.760000,...,37.660000,51.098000,26.740000,3.287500,24.629980,69.089996,6.880000,52.090000,39.192501,88.959999
2013-01-07,18.710714,34.459999,268.459991,32.320000,12.090000,93.449997,101.370003,109.750000,50.970001,29.420000,...,37.299999,51.952999,26.690001,3.192500,24.648956,68.620003,6.868000,52.090000,39.472500,87.930000
2013-01-08,18.761070,33.709999,266.380005,32.099998,11.980000,93.809998,101.180000,109.260002,50.759998,29.059999,...,37.040001,51.782001,26.549999,3.122500,24.686907,68.510002,6.736000,51.400002,39.840000,88.480003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-14,165.289993,162.309998,3034.129883,573.849976,37.570000,344.329987,590.390015,171.589996,130.470001,210.179993,...,65.019997,357.820007,279.829987,212.580002,53.119999,158.570007,985.000000,534.820007,212.789993,87.830002
2022-04-18,165.070007,159.360001,3055.699951,586.500000,38.849998,346.649994,582.119995,173.889999,127.769997,210.770004,...,64.440002,356.799988,280.519989,217.830002,51.840000,157.059998,1004.289978,534.080017,213.169998,88.550003
2022-04-19,167.399994,156.350006,3162.310059,597.619995,39.570000,348.500000,594.299988,171.830002,131.899994,217.309998,...,65.070000,363.869995,285.299988,221.979996,50.180000,159.410004,1028.150024,537.700012,215.699997,87.760002
2022-04-20,167.229996,156.699997,3079.959961,597.719971,39.660000,348.820007,603.530029,172.529999,124.570000,200.419998,...,65.959999,365.290009,286.359985,214.820007,49.750000,163.649994,977.200012,546.010010,217.789993,87.959999
2022-04-21,166.419998,158.520004,2965.919922,592.729980,38.910000,343.600006,591.739990,164.580002,121.660004,188.070007,...,66.209999,364.440002,280.809998,201.830002,49.110001,162.610001,1008.780029,537.440002,216.449997,87.029999